.service_page_heading_container{
    z-index:1;
    padding-bottom:70%;
}
.service_page_heading{
    font-size: calc((21 *(1em - 13px) - -2em - 1px));
    color:#003a78;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding-top:50px;
    z-index: 0;
    width:50%;
    position: absolute;
    top:0;
    left:0;
    padding-left:35px;
}

.telling_about_services{
    padding-left:20%;
    padding-top:10px;
}

.list-container {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 200px;
    border-style: solid;
    padding: 50px;
    border-radius: 20px;
    border-style:solid;
}

.list-item-number{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.list_text {
    font-size: calc((3.5 *(1em - 13px) - -2em - 7px));
    padding-left:35px;
    color: #003a78;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 500;
    cursor: pointer;
}